/* You can add global styles to this file, and also import other style files */
body {
  background-color: #100e17;

  font-family: "Roboto Mono", monospace;
  font-size: 16px;
  font-size: 1em;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
